In [3]:
import psycopg2

In [5]:
from Whaleeu.Extract_From_Site import  Scrape
from omotade.extract import extract_coindata
from omotade.crud import load_data
import pandas as pd

In [6]:
from sqlalchemy import create_engine

hostname = "borderless-crypto-db-instance.cyjsfpjxjrtj.us-east-1.rds.amazonaws.com"
password = 'incubation-team'
DATABASE_URI = f'postgresql+psycopg2://postgres:{password}@{hostname}:5432/CryptoTransactDB'

In [10]:
engine.connect()

In [7]:
def create_table(engine, table_name):
    conn = engine.connect()
    query = f'''CREATE TABLE IF NOT EXISTS {table_name} (TransactId Serial PRIMARY KEY, 
            CoinName VARCHAR (15), Symbol VARCHAR (10), Time Timestamp (40), Price VARCHAR (30),
            "Change(24h)" VARCHAR (5), "Volume(24h)" VARCHAR (35), "Market Cap" VARCHAR (40), Website VARCHAR(200))
            '''
    try:
        conn.execute(query)
        print('Table Created successfully')
    except Exception as e:
        print("Could not create table\n",e)
    finally:
        conn.close()
    

def drop_table(engine, table_name):
    query = f'''DROP TABLE IF EXISTS {table_name} '''
    conn = engine.connect()
    try:
        conn.execute(query)
    except Exception as e:
        print('Could not drop table \n', e)
    finally:
        conn.close()

In [8]:
cloud_engine = create_engine(DATABASE_URI)

In [24]:
create_table(cloud_engine, 'TransactTB')

Table Created successfully

In [8]:
data1, cols = extract_coindata()
data2 = Scrape()

In [13]:
data2['Site_Url'][0]

'https://finance.yahoo.com/cryptocurrencies/?guccounter=1&guce_referrer=aHR0cHM6Ly93d3cuZ29vZ2xlLmNvbS8&guce_referrer_sig=AQAAAEFsUKFje9IfbBRb_Nc1c0CH3XLzBMsPGbC34aJHedsZZWMcIK71OyPeb0F-uoEFv7r7apNwoj_KOsefjcG2m-LQthCw0QCGR7CMNllymBciBOYyWj9ND3gHBh8NpI0MAxiwEPVCdmfcwd4SZuMWtyk3BsTEvTFYp518yv8EAE8L'

In [13]:
gen_cols = ['CoinName','Symbol','Time','Price','Change(24h)', 'Volume(24h)', 'Market Cap', 'Website']

In [15]:
data2.columns

Index(['Symbol', 'Name', 'Price', 'Change', 'Percentage_Change', 'Market Cap',
       'Volume_in_Currency_Since_0:00_UTC', 'Volume_in_Currency_in_24Hr',
       'Total_Volume_All_Currencies_in_24Hr', 'Circulating Supply', 'Time',
       'Site_Url'],
      dtype='object')

In [16]:
cols_map1 = {'CoinName':'CoinName','Symbol':'Symbol','Time':'Time','Price':'Price','Volume(24h)':'Volume(24h)',
                '24h':'Change(24h)', 'Market Cap':'Market Cap','Website':'Website'}

cols_map2 = {'Name':'CoinName','Symbol':'Symbol','Time':'Time','Price':'Price','Volume_in_Currency_in_24Hr':'Volume(24h)',
                'Percentage_Change':'Change(24h)', 'Market Cap':'Market Cap','Site_Url':'Website'}

In [23]:
def create_coins_table(engine, coin_name):
    conn = engine.connect()

    query = f'''CREATE TABLE IF NOT EXISTS {coin_name} (TransactId serial PRIMARY KEY, 
            WebId INT, CoinId INT, Time Timestamp (40), Price Float, "Change(24h)" VARCHAR (5), 
            "Volume(24h)" Float, "Market Cap" Float)'''

    try:
        conn.execute(query)
        print('Table created succesfully!!')
    except Exception as e:
        print('COuld not create table\n', e)
    finally:
        conn.close()
def create_website_tb(engine):
    conn = engine.connect()
    query = '''CREATE TABLE IF NOT EXISTS Website (WebId SERIAL PRIMARY KEY, URL VARCHAR (200))'''

    try:
        conn.execute(query)
        print('Table created succesfully!!')
    except Exception as e:
        print('COuld not create table\n', e)
    finally:
        conn.close()

def create_coin_table(engine):
    conn = engine.connect()
    query = '''CREATE TABLE IF NOT EXISTS Coin (CoinId SERIAL PRIMARY KEY, CoinName VARCHAR (20), Symbol VARCHAR (10))'''
    
    try:
        conn.execute(query)
        print('Table created succesfully!!')
    except Exception as e:
        print('COuld not create table\n', e)
    finally:
        conn.close()

def drop_table(engine, table_name):
    query = f'''DROP TABLE IF EXISTS {table_name} '''
    conn = engine.connect()
    try:
        conn.execute(query)
    except Exception as e:
        print('Could not drop table \n', e)
    finally:
        conn.close()

In [27]:
engine = create_engine(DATABASE_URI)

In [33]:
create_coins_table(engine, 'Bitcoin')

Table created succesfully!!

In [34]:
create_coins_table(engine, 'Ethereum')

Table created succesfully!!

In [35]:
create_coins_table(engine, 'Tether')

Table created succesfully!!

In [36]:
create_coins_table(engine, '"USD Coin"')

Table created succesfully!!

In [37]:
create_coins_table(engine, 'BNB')

Table created succesfully!!

In [24]:
create_website_tb(engine)

Table created succesfully!!

In [25]:
create_coin_table(engine)

Table created succesfully!!