In [1]:
from extract import extract_coindata
#from config import local_engine
    
from sqlalchemy.engine import create_engine
from tqdm.std import tqdm
import pandas as pd
from datetime import datetime
import logging
logger = logging.Logger('catch_all')

In [2]:
# get coin information
from usman_temp import extract_temp
coindata, columns = extract_coindata()
us_coindata, us_columns = extract_temp.extract_coindata()

ModuleNotFoundError: No module named 'usman_temp'

In [9]:
def create_readonly(admin_engine, role_name, database, exists=False):
    """
    -------------------------------------
    Creates a read only role for database
    -------------------------------------
    
    admin_engine: Admin login database engine
    role_name: The name to be given to the role created
    exists: checks if role already exist
    -----------------------------------
    Returns None

    """
    queries = [f'''CREATE ROLE {role_name};''',
            f'''GRANT CONNECT ON DATABASE {database} To {role_name};''',
            f'''GRANT USAGE ON SCHEMA public TO {role_name};''',
            f'''GRANT SELECT ON ALL TABLES IN SCHEMA public TO {role_name};''']

    if exists == True:
        queries = queries[1:]
    
    conn = admin_engine.connect()
    for query in queries:
        st = query.split()
        try:
            rs = conn.execute(query)
            print(st[0])
        except Exception as e:
            
            print(f'Could not {st[0]} {st[1]} ', e)
        
    conn.close()
        

def create_read_write(admin_engine, database, exists=False):

    """
    -------------------------------------
    Creates a read only role for database
    -------------------------------------
    
    admin_engine: Admin login database engine
    exists: if role already exists
    -----------------------------------
    Returns None

    """

    queries = ['''CREATE ROLE read_write;''',
        f'''GRANT CONNECT ON DATABASE {database} To read_write;''',
        '''GRANT USAGE, CREATE ON SCHEMA public TO read_write;''',
        '''GRANT SELECT, INSERT, UPDATE ON ALL TABLES IN SCHEMA public TO read_write;''', # granting permission on crypto table 
        '''GRANT USAGE ON ALL SEQUENCES IN SCHEMA public TO read_write;''']

    if exists == True:
        queries = queries[1:]

    conn = admin_engine.connect()
    for query in queries:
        st = query.split()
        try:
            rs = conn.execute(query)
            print(st[0])
        except Exception as e:
            
            print(f'Could not {st[0]} {st[1]} ', e)
        
    conn.close()

def create_user(admin_engine, username, password):
    """
    Create a user with login permission to the database
    ---------------------------------------------------
    admin_engine: Admin login database engine
    username: name of user
    password: password of user for login authentication
    ---------------------------------------------------

    Returns None
    """
    query = f'''CREATE USER {username} WITH PASSWORD {password}'''
    conn = admin_engine.connect()
    
    st = query.split()
    try:
        rs = conn.execute(query)
        print(st[0])
    except Exception as e:
        print(f'Could not {st[0]} {st[1]} ', e)
        
    conn.close()

def grant_user_role(admin_engine, username, rolename):
    """
    Grant a role to a database user
    -------------------------------

    admin_engine: Admin login database engine
    username: name of user to be granted role
    rolename: name of role to be granted to user
    """
    query = f'''GRANT {rolename} TO {username}'''
    conn = admin_engine.connect()
    st = query.split()
    try:
        rs = conn.execute(query)
        print(st[0])
    except Exception as e:
        print(f'Could not {st[0]} {st[1]} ', e)
        
    conn.close()

In [4]:
import sqlalchemy
sqlalchemy.__version__

'1.4.32'

## NEW EXPERIMENT FOR TRANSACT TB

In [5]:
def create_transact_table(engine, table_name):
    conn = engine.connect()
    query = f'''CREATE TABLE IF NOT EXISTS {table_name} ("TransactId" Serial PRIMARY KEY, 
            "CoinName" VARCHAR (15), "Symbol" VARCHAR (10), "Time" Timestamp (40), "Price" VARCHAR (30),
            "Change(24h)" VARCHAR (10), "Volume(24h)" VARCHAR (35), "Market Cap" VARCHAR (40), "Website" VARCHAR(200))
            '''
    try:
        conn.execute(query)
        print('Table Created successfully')
    except Exception as e:
        print("Could not create table\n",e)
    finally:
        conn.close()

create_transact_table(engine, 'Transacttb')

NameError: name 'engine' is not defined

In [ ]:
def get_common_cols(db_cols, ext_cols):
    common_cols = []
    for col in ext_cols:
        if col == '24h':
             ext_cols[ext_cols.index(col)] = 'Change(24h)'
             col = 'Change(24h)'
        if col in db_cols:
            common_cols.append(col)

    return common_cols

### ETL to Production DB

In [ ]:
from sqlalchemy import create_engine

In [3]:
DATABASE_URI = f'postgresql+psycopg2://postgres:udkhulbisalaam@localhost:5432/Cryptocurrency'
engine = create_engine(DATABASE_URI)

In [4]:
from auths import hostname, password
PRD_DATABASE_URI = f'postgresql+psycopg2://omotade:{password}@{hostname}:5432/ProductionDB'
TRNS_DATABASE_URI = f'postgresql+psycopg2://omotade:{password}@{hostname}:5432/CryptoTransactDB'
DATABASE_URI = f'postgresql+psycopg2://postgres:udkhulbisalaam@localhost:5432/Cryptocurrency'
engine = create_engine(DATABASE_URI)

In [5]:
transact_engine = create_engine(TRNS_DATABASE_URI)
product_engine = create_engine(PRD_DATABASE_URI)

### EXTRACT

In [13]:
def execute_query(engine, query, returns = False):

    """
        ------------
        returns None
        ------------
        This function executes an sql query on the a database engine

        engine: a  database engine
        query: SQL query to be executed
    """
    conn = engine.connect()

    try:
        rs = conn.execute(query)
    except Exception as e:
        logger.log(e)
        print('Unknown error occured')

    finally:
        conn.close()
    if returns == True:
        return rs.fetchall()

In [14]:
import pandas as pd

In [15]:
query = """Select column_name from INFORMATION_SCHEMA.COLUMNS WHERE table_name = 'transacttb'"""

info =  execute_query(transact_engine, query=query, returns=True)
column_names = [i[0] for i in info]

In [39]:
def extract(engine, coinname, migrate=False):
        query = """Select column_name from INFORMATION_SCHEMA.COLUMNS WHERE table_name = 'transacttb'"""

        info =  execute_query(engine, query=query, returns=True)
        column_names = [i[0] for i in info]

        if migrate == False:
            query = f"""SELECT * FROM TRANSACTTB AS TB
                WHERE TB."CoinName" = '{coinname}' and TB."Time" >= now() - interval '10 minutes'"""
                
        elif migrate == True:
            query = f"""SELECT * FROM TRANSACTTB AS TB
                WHERE TB."CoinName" = '{coinname}' """

        coin = pd.DataFrame(execute_query(transact_engine, query=query, returns=True), columns=column_names)

        return coin

In [60]:
!git add .

In [40]:
btc = extract(coinname='Bitcoin', engine=transact_engine)

In [41]:
btc.head()

,TransactId,CoinName,Symbol,Time,Price,Change_24h,Volume_24h,Market Cap,Website
0,13099,Bitcoin,BTC,2022-07-24 20:50:00.000000,"$22,766.09",2.11%,"$22,203,715,125","$434,884,532,603",https://coinmarketcap.com/all/views/all/
1,13104,Bitcoin,BTC,2022-07-24 20:50:00.813194,"22,782.39",+2.16%,22.256B,435.196B,https://finance.yahoo.com/cryptocurrencies/

### Separate and Transform

In [21]:
def get_websites(df):
    """
    -------------
    returns tuple
    -------------
    retunrs a sequence of unique websites present in a data

    df: a pandas dataframe object
    """
    webs = list(df['Website'].unique())
    if len(webs) <= 1:
        if 'END' not in webs:
            webs.append('END')
    return tuple(webs)

In [22]:
websites = get_websites(btc)

In [23]:

websites

('https://finance.yahoo.com/cryptocurrencies/',
 'https://coinmarketcap.com/all/views/all/')

In [30]:
# get WebId
def get_web_id(coin_df, engine = engine ):

    """
    ---------------------------
    returns dictionary of WebId
    ---------------------------
    This funtion checks and returns the web ids of websites present in the transact table.
    
    """
    webs = list(coin_df['Website'].unique())
    if len(webs) <= 1:
        if 'END' not in webs:
            webs.append('END')
    websites =  tuple(webs)


    query = f"""SELECT * FROM website
                Where website.url in {websites}"""
    webs = execute_query(engine, query=query, returns=True)
    if len(webs) != 0:
        urlid = {url:id for id,url in webs}
    else:
        update_web_id(ld_engine=engine)
        urlid = get_web_id(coin_df)
    return urlid

In [31]:
# get CoinId
def get_coin_id(coinname, engine= engine):
    """
    ----------
    return int
    ----------

    checks and returns the coinid of a coin

    engine: A database engine
    coinname: name of the coin
    """
    query = f"""SELECT CoinId FROM coin
                Where coin.CoinName = '{coinname}'"""
    rs = execute_query(engine, query=query, returns=True)
    if len(rs) != 0:
        coinid = rs[0][0]
    else:
        update_coin(ld_engine=engine)

        coinid = get_coin_id(coinname)
    return coinid

In [32]:
def update_web_id(ext_engine=transact_engine, ld_engine=engine):
    """
    ------------
    returns None
    ------------ 
    create a website Id for a website on that appears on the transact tb

    ext_enigine" tranct 
    """
    query = """SELECT DISTINCT "Website" from transacttb """
    rs = execute_query(ext_engine, query, returns=True)
    webs = [web[0] for web in rs]
    for web in webs:
        query = f"""INSERT INTO website (url)
                    select '{web}'
                    where not exists (select WebId from Website where
				    url = '{web}' ) """

        execute_query(ld_engine, query)




def update_coin(ext_engine=transact_engine, ld_engine=engine):

    """
        -------------
        returns None
        ------------

        upates the coin table
    """
    query = """SELECT DISTINCT "CoinName", "Symbol" from transacttb """
    rs = execute_query(ext_engine, query, returns=True)
    coins = [(coin, symbol)  for coin, symbol in rs]
    for coin, symbol in coins:
        
        query = f"""INSERT INTO coin (coinname, symbol)
                    select '{coin}', '{symbol}'
                    where not exists (select CoinId from coin where
				    coinname = '{coin}' ) """

        execute_query(ld_engine, query)

In [38]:
get_coin_id('Bitcoin')

11

In [19]:
get_coin_id(engine=engine, coinname='Ethereum')

3

In [20]:
query = """Select distinct "Website" from transacttb"""
rs = execute_query(transact_engine, query=query, returns=True)

In [21]:
rs

[('https://coinmarketcap.com/all/views/all/',),
 ('https://finance.yahoo.com/cryptocurrencies/',)]

In [53]:
update_web_id(transact_engine, ld_engine=engine)

In [70]:
update_coin()

In [91]:
btc['Website'].map(get_web_id())

0      2
1      1
2      2
3      1
4      2
      ..
143    1
144    2
145    1
146    2
147    1
Name: Website, Length: 148, dtype: int64

In [44]:
btc['CoinId'] = btc['CoinName'].apply(get_coin_id)

In [46]:
btc['WebId'] = btc['Website'].map(get_web_id(btc))

### Transformation
* Cleaning the data

In [47]:
def adjust_data(df, engine, table_name='bitcoin'):
    query = f"""Select column_name from INFORMATION_SCHEMA.COLUMNS where table_name = '{table_name}' """
    temp =  engine.execute(query).fetchall()
    columns = [col[0] for col in temp ]
    columns.remove('ProductId')
    data = df[columns]

    return data

In [48]:
data = adjust_data(btc, engine)

In [49]:
data

,Market Cap,WebId,CoinId,Time,Price,Volume_24h,Change_24h
0,"$434,884,532,603",3,11,2022-07-24 20:50:00.000000,"$22,766.09","$22,203,715,125",2.11%
1,435.196B,4,11,2022-07-24 20:50:00.813194,"22,782.39",22.256B,+2.16%

##### Price

In [50]:
def clean(df):
    from warnings import filterwarnings
    filterwarnings('ignore')

    # clean price

    def rem(p):
        temp = p.replace(',', '')
        p = temp.strip('$')
        return float(p)
    df['Price'] = df['Price'].apply(rem)

    # clean volume

    def normal(vol):
        temp = vol.replace(',', '')
        vol = temp.strip('$')

        if 'B' in vol:
            vol = float(vol.strip('B'))
            vol = vol * 1000000000

        elif 'M' in vol:
            vol = float(vol.strip('M'))
            vol = vol * 1000000

        else:
            vol = float(vol)

        return vol

    df['Volume_24h'] = df['Volume_24h'].apply(normal)

    # clean Market cap
    df['Market Cap'] = df['Market Cap'].apply(normal)


    # clean 24 hours percentage change
    def rem_sign(perc):
        temp = perc.strip('%')
        try:
            perc = float(temp)
            return perc
        except ValueError as ve:
            logger.log(ve)
            print(f"{temp} could not be converted to float")
            return temp

        
            
    df['Change_24h'] = df['Change_24h'].apply(rem_sign)


    return df

In [69]:

data

,Market Cap,WebId,CoinId,Time,Price,Volume_24h,Change_24h
0,433.353B,2,1,2022-07-23 10:00:00.943190,"22,687.72",30.023B,-3.21%
1,"$433,131,800,058",1,1,2022-07-23 10:00:00.000000,"$22,676.14","$30,026,881,522",-3.30%
2,433.222B,2,1,2022-07-23 10:10:00.919365,"22,680.87",29.928B,-3.28%
3,"$433,198,550,259",1,1,2022-07-23 10:10:00.000000,"$22,679.63","$29,923,045,261",-3.29%
4,433.479B,2,1,2022-07-23 10:20:01.079226,"22,694.22",29.92B,-3.40%
...,...,...,...,...,...,...,...
245,433.858B,2,1,2022-07-24 06:20:00.933857,"22,713.07",25.612B,-0.84%
246,433.957B,2,1,2022-07-24 06:30:00.861288,"22,718.24",25.761B,-0.75%
247,"$433,609,855,396",1,1,2022-07-24 06:30:00.000000,"$22,700.07","$25,706,072,203",-0.84%
248,"$433,648,819,586",1,1,2022-07-24 06:40:00.000000,"$22,702.11","$25,831,287,892",-0.86%
249,433.205B,2,1,2022-07-24 06:40:00.774373,"22,678.87",25.827B,-1.02%

In [51]:
clean_data = clean(data)

In [52]:
clean_data

,Market Cap,WebId,CoinId,Time,Price,Volume_24h,Change_24h
0,4.348845e+11,3,11,2022-07-24 20:50:00.000000,22766.09,2.220372e+10,2.11
1,4.351960e+11,4,11,2022-07-24 20:50:00.813194,22782.39,2.225600e+10,2.16

In [50]:
conn = engine.connect()
clean_data.to_sql('bitcoin', conn, if_exists='append', index=False)

250

In [55]:
def transform(coindf, target_table, engine):
    coindf['CoinId'] = coindf['CoinName'].apply(get_coin_id)
    coindf['WebId'] = coindf['Website'].map(get_web_id(coindf))

    adjusted_data = adjust_data(df=coindf,engine=engine, table_name=target_table)
    cleaned_data = clean(adjusted_data)

    return cleaned_data
    
def load_prd_db(data, table, engine):
    """
    ------------
    returns None
    ------------

    Loads data into table on the production database 

    data: Dataframe : coin data
    table: str : name of target table
    engine: Engine: a database engine
    """
    try:
        assert type(data) == pd.DataFrame

    except AssertionError as e:
        logging.log(e)
        print(f"Type of data must be {pd.DataFrame}\n Trying to convert data to DataFrame")

        try:
            data = pd.DataFrame(data)
        except:
            
            print("failed to convert to DataFrame")

            return
    conn = engine.connect()
    try:

        data.to_sql(table, conn, if_exists='append', index=False)

    except Exception as e:
        logging.log(e)
        print('Failed to load Database')

In [56]:
rs_data = transform(btc, 'bitcoin', engine=engine)

In [57]:
rs_data

,Market Cap,WebId,CoinId,Time,Price,Volume_24h,Change_24h
0,4.348845e+11,3,11,2022-07-24 20:50:00.000000,22766.09,2.220372e+10,2.11
1,4.351960e+11,4,11,2022-07-24 20:50:00.813194,22782.39,2.225600e+10,2.16

In [58]:
load_prd_db(rs_data, 'bitcoin',  engine)

In [1]:
def create_coins_table(engine, coin_name):
    conn = engine.connect()

    query = f'''CREATE TABLE IF NOT EXISTS {coin_name} (ProducttId serial PRIMARY KEY, 
            WebId INT, CoinId INT, Time Timestamp (40), Price Float, "Change_24h" FLOAT, 
            "Volume_24h" Float, "Market Cap" Float)'''

    try:
        conn.execute(query)
        print('Table created succesfully!!')
    except Exception as e:
        print('Could not create table\n', e)
    finally:
        conn.close()

In [6]:
create_coins_table(product_engine, 'bitcoin')

Table created succesfully!!