In [5]:
from extract import extract_coindata
#from config import local_engine
    
from sqlalchemy.orm import sessionmaker
from sqlalchemy.engine import create_engine
from tqdm.std import tqdm
import pandas as pd
from datetime import datetime
import logging
logger = logging.Logger('catch_all')

In [2]:
# get coin information
coindata, columns = extract_coindata()

In [6]:
def create_readonly(admin_engine, role_name, database, exists=False):
    """
    -------------------------------------
    Creates a read only role for database
    -------------------------------------
    
    admin_engine: Admin login database engine
    role_name: The name to be given to the role created
    exists: checks if role already exist
    -----------------------------------
    Returns None

    """
    queries = [f'''CREATE ROLE {role_name};''',
            f'''GRANT CONNECT ON DATABASE {database} To {role_name};''',
            f'''GRANT USAGE ON SCHEMA public TO {role_name};''',
            f'''GRANT SELECT ON ALL TABLES IN SCHEMA public TO {role_name};''']

    if exists == True:
        queries = queries[1:]
    
    conn = admin_engine.connect()
    for query in queries:
        st = query.split()
        try:
            rs = conn.execute(query)
            print(st[0])
        except Exception as e:
            
            print(f'Could not {st[0]} {st[1]} ', e)
        
    conn.close()
        

def create_read_write(admin_engine, database, exists=False):

    """
    -------------------------------------
    Creates a read only role for database
    -------------------------------------
    
    admin_engine: Admin login database engine
    exists: if role already exists
    -----------------------------------
    Returns None

    """

    queries = ['''CREATE ROLE read_write;''',
        f'''GRANT CONNECT ON DATABASE {database} To read_write;''',
        '''GRANT USAGE, CREATE ON SCHEMA public TO read_write;''',
        '''GRANT SELECT, INSERT, UPDATE ON ALL TABLES IN SCHEMA public TO read_write;''', # granting permission on crypto table 
        '''GRANT USAGE ON ALL SEQUENCES IN SCHEMA public TO read_write;''']

    if exists == True:
        queries = queries[1:]

    conn = admin_engine.connect()
    for query in queries:
        st = query.split()
        try:
            rs = conn.execute(query)
            print(st[0])
        except Exception as e:
            
            print(f'Could not {st[0]} {st[1]} ', e)
        
    conn.close()

def create_user(admin_engine, username, password):
    """
    Create a user with login permission to the database
    ---------------------------------------------------
    admin_engine: Admin login database engine
    username: name of user
    password: password of user for login authentication
    ---------------------------------------------------

    Returns None
    """
    query = f'''CREATE USER {username} WITH PASSWORD {password}'''
    conn = admin_engine.connect()
    
    st = query.split()
    try:
        rs = conn.execute(query)
        print(st[0])
    except Exception as e:
        print(f'Could not {st[0]} {st[1]} ', e)
        
    conn.close()

def grant_user_role(admin_engine, username, rolename):
    """
    Grant a role to a database user
    -------------------------------

    admin_engine: Admin login database engine
    username: name of user to be granted role
    rolename: name of role to be granted to user
    """
    query = f'''GRANT {rolename} TO {username}'''
    conn = admin_engine.connect()
    st = query.split()
    try:
        rs = conn.execute(query)
        print(st[0])
    except Exception as e:
        print(f'Could not {st[0]} {st[1]} ', e)
        
    conn.close()

In [9]:
from auths import hostname, password
DATABASE_URI_tb = f'postgresql+psycopg2://postgres:{password}@{hostname}:5432/ProductionDB'
cloud_enginetb = create_engine(DATABASE_URI_tb)

In [10]:
# create Transaction DB engine
DATABASE_URI_pb = f'postgresql+psycopg2://postgres:{password}@{hostname}:5432/CryptoTransactDB'

cloud_enginepb = create_engine(DATABASE_URI_pb)

## NEW EXPERIMENT FOR TRANSACT TB

In [12]:
DATABASE_URI = f'postgresql+psycopg2://postgres:udkhulbisalaam@localhost:5432/postgres'
engine = create_engine(DATABASE_URI)

In [28]:
def create_transact_table(engine, table_name):
    conn = engine.connect()
    query = f'''CREATE TABLE IF NOT EXISTS {table_name} ("TransactId" Serial PRIMARY KEY, 
            "CoinName" VARCHAR (15), "Symbol" VARCHAR (10), "Time" Timestamp (40), "Price" VARCHAR (30),
            "Change(24h)" VARCHAR (5), "Volume(24h)" VARCHAR (35), "Market Cap" VARCHAR (40), "Website" VARCHAR(200))
            '''
    try:
        conn.execute(query)
        print('Table Created successfully')
    except Exception as e:
        print("Could not create table\n",e)
    finally:
        conn.close()
create_transact_table(engine, 'Transacttb')

Table Created successfully

In [51]:
conn = engine.connect()

In [36]:

query = """Select column_name from INFORMATION_SCHEMA.COLUMNS WHERE table_name = 'transacttb'"""
info =  conn.execute(query).fetchall()
cols2 = [i[0] for i in info]

coindata, cols1 = extract_coindata()

In [37]:
cols1

['CoinName',
 'Symbol',
 'Time',
 'Market Cap',
 'Price',
 'Circulating Supply',
 'Volume(24h)',
 '1h',
 '24h',
 '7d',
 'Website']

In [38]:
cols2

['Time',
 'TransactId',
 'Symbol',
 'Price',
 'Change(24h)',
 'Volume(24h)',
 'Market Cap',
 'Website',
 'CoinName']

In [41]:
def get_common_cols(db_cols, ext_cols):
    common_cols = []
    for col in ext_cols:
        if col == '24h':
             ext_cols[ext_cols.index(col)] = 'Change(24h)'
             col = 'Change(24h)'
        if col in db_cols:
            common_cols.append(col)

    return common_cols

In [45]:
cols1

['CoinName',
 'Symbol',
 'Time',
 'Market Cap',
 'Price',
 'Circulating Supply',
 'Volume(24h)',
 '1h',
 'Change(24h)',
 '7d',
 'Website']

In [42]:
columns = get_common_cols(cols2, cols1)

In [43]:
columns

['CoinName',
 'Symbol',
 'Time',
 'Market Cap',
 'Price',
 'Volume(24h)',
 'Change(24h)',
 'Website']

In [50]:
conn.close()

In [46]:
df = pd.DataFrame(coindata, columns=cols1)
data = df[columns]

In [52]:
data.to_sql('transacttb', engine, if_exists='append', index = False)

5