In [1]:
import psycopg2

In [2]:

import pandas as pd

In [5]:
from sqlalchemy import create_engine

hostname = "borderless-crypto-db-instance.cyjsfpjxjrtj.us-east-1.rds.amazonaws.com"
password = 'incubator-salaam'
DATABASE_URI = f'postgresql+psycopg2://omotade:{password}@{hostname}:5432/ProductionDB'

In [6]:
engine = create_engine(DATABASE_URI)
conn = engine.connect()

In [8]:
# get coin information
from usman_temp import extract_temp
from omotade.extract import extract_coindata
coindata, columns = extract_coindata()
us_coindata, us_columns = extract_temp.extract_coindata()

200

In [10]:
pd.DataFrame(us_coindata, columns=us_columns)

,CoinName,Symbol,Time,Price,1h,Change_24h,7d,Volume_24h,Market Cap,Website
0,Bitcoin,BTC,2022/08/03 18:05,"$23,477.37",0.4%,0.2%,10.6%,"$38,733,787,871","$448,338,288,929",https://www.coingecko.com/
1,Ethereum,ETH,2022/08/03 18:05,"$1,666.80",0.5%,-0.3%,15.8%,"$16,165,537,537","$199,889,712,661",https://www.coingecko.com/
2,Tether,USDT,2022/08/03 18:05,$1.00,-0.1%,-0.1%,-0.1%,"$51,645,147,186","$65,878,591,170",https://www.coingecko.com/
3,USD Coin,USDC,2022/08/03 18:05,$1.00,0.1%,0.1%,0.1%,"$7,192,099,749","$54,388,309,558",https://www.coingecko.com/
4,BNB,BNB,2022/08/03 18:05,$302.95,1.3%,4.3%,21.7%,"$2,068,923,404","$49,427,611,401",https://www.coingecko.com/

In [15]:
from omotade.crud import load_data

load_data(data=us_coindata, web_columns=us_columns)

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "c:\Users\USER\Documents\Library\Borderless Incubator Project\crypto-datagram\omotade\crud.py", line 13, in <module>
    from extract import extract_coindata
ModuleNotFoundError: No module named 'extract'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\USER\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 3369, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\USER\AppData\Local\Temp\ipykernel_9556\1138804462.py", line 1, in <cell line: 1>
    from omotade.crud import load_data
  File "c:\Users\USER\Documents\Library\Borderless Incubator Project\crypto-datagram\omotade\crud.py", line 18, in <module>
    from omotade.config import local_engine, cloudtb_engine, cloudpb_engine
  File "c:\Users\USER\Documents\Library\Borderless Incubator Project\crypto-datagram\omotade\config.py", line 13, in <module>
    from auths import hostname, password
ModuleNotFoundError: No module named 'auths'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Users\USER\anaconda3\lib\site-packages\IPython\core\interactiveshell.py", line 1982, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "c:\Users\USER\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1118, in structured_traceback
    return FormattedTB.structured_traceback(
  File "c:\Users\USER\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 1012, in structured_traceback
    return VerboseTB.structured_traceback(
  File "c:\Users\USER\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 865, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "c:\Users\USER\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 818, in format_exception_as_a_whole
    frames.append(self.format_record(r))
  File "c:\Users\USER\anaconda3\lib\site-packages\IPython\core\ultratb.py", line 736, in format_record
    result += ''.join(_format_traceback_lines(frame_info.lines, Colors, self.has_colors, lvals))
  File "c:\Users\USER\anaconda3\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "c:\Users\USER\anaconda3\lib\site-packages\stack_data\core.py", line 698, in lines
    pieces = self.included_pieces
  File "c:\Users\USER\anaconda3\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "c:\Users\USER\anaconda3\lib\site-packages\stack_data\core.py", line 649, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "c:\Users\USER\anaconda3\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "c:\Users\USER\anaconda3\lib\site-packages\stack_data\core.py", line 628, in executing_piece
    return only(
  File "c:\Users\USER\anaconda3\lib\site-packages\executing\executing.py", line 164, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

In [7]:
query = """Select * FROM bitcoin
            Order by "Time" desc
        """
rs = conn.execute(query).fetchall()
data = pd.DataFrame(rs)

In [8]:
data.head()

,ProductId,WebId,CoinId,Time,Price,Change_24h,Volume_24h,Market Cap
0,783,2,4,2022-07-26 21:20:00.845639,21076.73,-4.83,3.103500e+10,4.026540e+11
1,782,1,4,2022-07-26 21:20:00.000000,21072.32,-4.83,3.101018e+10,4.025699e+11
2,781,2,4,2022-07-26 21:10:00.762384,21060.85,-4.83,3.136700e+10,4.023510e+11
3,780,1,4,2022-07-26 21:10:00.000000,21009.15,-5.17,3.137484e+10,4.013632e+11
4,779,2,4,2022-07-26 21:00:00.843660,20956.34,-5.48,3.137500e+10,4.003540e+11

In [7]:
def create_table(engine, table_name):
    conn = engine.connect()
    query = f'''CREATE TABLE IF NOT EXISTS {table_name} ("TransactId" Serial PRIMARY KEY, 
            "CoinName" VARCHAR (15), "Symbol" VARCHAR (10), "Time" Timestamp (40), "Price" VARCHAR (30),
            "Change(24h)" VARCHAR (5), "Volume(24h)" VARCHAR (35), "Market Cap" VARCHAR (40), "Website" VARCHAR(200))
            '''
    try:
        conn.execute(query)
        print('Table Created successfully')
    except Exception as e:
        print("Could not create table\n",e)
    finally:
        conn.close()
    

def drop_table(engine, table_name):
    query = f'''DROP TABLE IF EXISTS {table_name} '''
    conn = engine.connect()
    try:
        conn.execute(query)
    except Exception as e:
        print('Could not drop table \n', e)
    finally:
        conn.close()

In [8]:
cloud_engine = create_engine(DATABASE_URI)

In [24]:
create_table(cloud_engine, 'TransactTB')

Table Created successfully

In [8]:
data1, cols = extract_coindata()
data2 = Scrape()

In [13]:
data2['Site_Url'][0]

'https://finance.yahoo.com/cryptocurrencies/?guccounter=1&guce_referrer=aHR0cHM6Ly93d3cuZ29vZ2xlLmNvbS8&guce_referrer_sig=AQAAAEFsUKFje9IfbBRb_Nc1c0CH3XLzBMsPGbC34aJHedsZZWMcIK71OyPeb0F-uoEFv7r7apNwoj_KOsefjcG2m-LQthCw0QCGR7CMNllymBciBOYyWj9ND3gHBh8NpI0MAxiwEPVCdmfcwd4SZuMWtyk3BsTEvTFYp518yv8EAE8L'

In [13]:
gen_cols = ['CoinName','Symbol','Time','Price','Change(24h)', 'Volume(24h)', 'Market Cap', 'Website']

In [15]:
data2.columns

Index(['Symbol', 'Name', 'Price', 'Change', 'Percentage_Change', 'Market Cap',
       'Volume_in_Currency_Since_0:00_UTC', 'Volume_in_Currency_in_24Hr',
       'Total_Volume_All_Currencies_in_24Hr', 'Circulating Supply', 'Time',
       'Site_Url'],
      dtype='object')

In [16]:
cols_map1 = {'CoinName':'CoinName','Symbol':'Symbol','Time':'Time','Price':'Price','Volume(24h)':'Volume(24h)',
                '24h':'Change(24h)', 'Market Cap':'Market Cap','Website':'Website'}

cols_map2 = {'Name':'CoinName','Symbol':'Symbol','Time':'Time','Price':'Price','Volume_in_Currency_in_24Hr':'Volume(24h)',
                'Percentage_Change':'Change(24h)', 'Market Cap':'Market Cap','Site_Url':'Website'}

In [1]:
def create_coins_table(engine, coin_name):
    conn = engine.connect()

    query = f'''CREATE TABLE IF NOT EXISTS {coin_name} (TransactId serial PRIMARY KEY, 
            WebId INT, CoinId INT, Time Timestamp (40), Price Float, "Change(24h)" VARCHAR (5), 
            "Volume(24h)" Float, "Market Cap" Float)'''

    try:
        conn.execute(query)
        print('Table created succesfully!!')
    except Exception as e:
        print('COuld not create table\n', e)
    finally:
        conn.close()
def create_website_tb(engine):
    conn = engine.connect()
    query = '''CREATE TABLE IF NOT EXISTS Website (WebId SERIAL PRIMARY KEY, URL VARCHAR (200))'''

    try:
        conn.execute(query)
        print('Table created succesfully!!')
    except Exception as e:
        print('COuld not create table\n', e)
    finally:
        conn.close()

def create_coin_table(engine):
    conn = engine.connect()
    query = '''CREATE TABLE IF NOT EXISTS Coin (CoinId SERIAL PRIMARY KEY, CoinName VARCHAR (20), Symbol VARCHAR (10))'''
    
    try:
        conn.execute(query)
        print('Table created succesfully!!')
    except Exception as e:
        print('COuld not create table\n', e)
    finally:
        conn.close()

def drop_table(engine, table_name):
    query = f'''DROP TABLE IF EXISTS {table_name} '''
    conn = engine.connect()
    try:
        conn.execute(query)
    except Exception as e:
        print('Could not drop table \n', e)
    finally:
        conn.close()

In [11]:
from sqlalchemy import create_engine

In [18]:
adminpassword = 'incubation-team'
from omotade.auths import hostname
CLOUD_DATABASE_URI = f'postgresql+psycopg2://postgres:{adminpassword}@{hostname}:5432/ProductionDB'

In [30]:
DATABASE_URI = f'postgresql+psycopg2://postgres:udkhulbisalaam@localhost:5432/Cryptocurrency'
engine = create_engine(DATABASE_URI)

In [34]:
create_coins_table(engine, 'Ethereum')

Table created succesfully!!

In [19]:

cloudengine = create_engine(CLOUD_DATABASE_URI)

In [ ]:
drop_table()

In [20]:
create_coins_table(cloudengine, 'Bitcoin')
#drop_table(cloudengine, 'Bitcoin')

Table created succesfully!!

In [21]:
create_coins_table(cloudengine, 'Ethereum')
#drop_table(cloudengine, 'Ethereum')

Table created succesfully!!

In [22]:
create_coins_table(cloudengine, 'Tether')
#drop_table(cloudengine, 'Tether')

Table created succesfully!!

In [29]:
create_coins_table(cloudengine, '"usd coin"')
drop_table(cloudengine, '"USD Coin"')

Table created succesfully!!

In [25]:
create_coins_table(cloudengine, 'BNB')
#drop_table(cloudengine, 'BNB')

Table created succesfully!!

In [26]:
create_website_tb(cloudengine)
#drop_table(cloudengine, 'Website')

Table created succesfully!!

In [27]:
create_coin_table(cloudengine)
# #drop_table(cloudengine, 'Coin')

Table created succesfully!!